.form, .field {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.form input[type='text'],
.form select {
    padding: .625rem;
    background-color: transparent;
    border: .1875rem solid var(--white);
    color: var(--white);
    font-size: 1.125rem;
    font-weight: 400;
    border-radius: .625rem;
}

.formOption{
    background-color:rgba(0, 0, 0, 0.516);
}

.field ::placeholder{
    color: var(--white);
}

.submit{
    background-color: var(--primary);
    border: none;
    color: var(--white);
    font-weight: 700;
    font-size: .875rem;
    text-transform: uppercase;
    cursor: pointer;
    padding: .625rem;
}