.container{
    background-color: var(--white);
    color: #000;
    border-radius: .625rem;
    text-align: center;
    padding: .625rem;
}

.current{
    font-size: 3.75rem;
    font-weight: 900;
    margin: 0;
}

.temperatures{
    display: flex;
    justify-content: center;
    gap: 3.125rem;
}

.temperatures p{
    font-weight: 900;
}

.temperatures span{
    font-weight: 400;
}